b {
  font-size: 1.5em;
}

button {
  border-radius: 8px;
  border: 1px solid gray;
  padding: 0.6em 1.2em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #539455;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  scale: 1.05;
  transition: scale 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  text-align: center;
  margin: 20px auto;
}

.container-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.space-between {
  justify-content: space-between;
}

.width-70 {
  width: 70%;
}

.form-label {
  display: block;
  font-weight: bold;
  color: #555;
}

.form-input {
  padding: 12px;
  margin-left: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

.weather-table {
  min-width: 500px;
  max-width: 800px;
  table-layout: auto;
  border-collapse: collapse;
  margin: 20px auto;
  border: 1px solid #ddd; 
}

.weather-table th,
.weather-table td {
  border: 1px solid #ddd;
  padding: 12px;
  overflow: hidden; /* Ensures text does not overflow */
  white-space: nowrap; /* Prevents text from wrapping */
}

.weather-table th {
  background-color: #539455;
  color: white;
  text-align: left;
}

.weather-table tr:nth-child(even) {
  background-color: #c1c1c1;
}

.weather-table tr:hover {
  background-color: #6d6d6d;
}