body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  margin: 20px auto;
}

.container-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.weather-table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  margin: 20px auto;
  border: 1px solid #ddd; 
}

.weather-table th,
.weather-table td {
  border: 1px solid #ddd;
  padding: 12px;
  overflow: hidden; /* Ensures text does not overflow */
  white-space: nowrap; /* Prevents text from wrapping */
}

.weather-table th {
  background-color: #539455;
  color: white;
  text-align: left;
}

.weather-table tr:nth-child(even) {
  background-color: #d4d4d4;
}

.weather-table tr:hover {
  background-color: #b9b9b9;
}